* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  background-color: rgb(152, 140, 140);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 750px; 
}

.container:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  outline: none;
}

button {
  width: 30%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #ff7b00;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #ff5500;
}

#output {
  margin-top: 20px;
  background-color:white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  min-height: 60px;
  text-align: left;
}
@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  input {
    padding: 10px;
  }

  button {
    width: 80%;
    padding: 10px;
  }

  #output {
    font-size: 14px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 85%;
    padding: 20px;
  }

  button {
    width: 50%;
  }
}
@media (min-width: 769px) {
  .container {
    width: 550px;
  }

  button {
    width: 30%;
  }
}

